body {
    background-color: #393E46;
    color: #4ECCA3;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    text-shadow: 5px 0 #232931;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.dice {
    display: inline-block;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    margin-top: 60px;
}

img {
    margin-right: 10px;
}

footer {
    margin-top: 6%;
    font-family: 'Indie Flower', cursive;
}